spring:
  application:
    name: auth-ms
  datasource:
    # ATENÇÃO: Note a porta 5433 aqui
    url: jdbc:postgresql://localhost:5433/authdb
    username: authms
    password: 123456
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  jwt:
    public:
      key: classpath:app.pub
    private:
      key: classpath:app.key